* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Century Gothic;
}
body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}
@keyframes gradient {
0% {
    background-position: 0% 0%;
}
50% {
    background-position: 100% 100%;
}
100% {
    background-position: 0% 0%;
}
}

.wave {
background: rgb(255 255 255 / 25%);
border-radius: 1000% 1000% 0 0;
position: fixed;
width: 200%;
height: 12em;
animation: wave 10s -3s linear infinite;
transform: translate3d(0, 0, 0);
opacity: 0.8;
bottom: 0;
left: 0;
z-index: -1;
}

.wave:nth-of-type(2) {
bottom: -1.25em;
animation: wave 18s linear reverse infinite;
opacity: 0.8;
}

.wave:nth-of-type(3) {
bottom: -2.5em;
animation: wave 20s -1s reverse infinite;
opacity: 0.9;
}

@keyframes wave {
2% {
    transform: translateX(1);
}

25% {
    transform: translateX(-25%);
}

50% {
    transform: translateX(-50%);
}

75% {
    transform: translateX(-25%);
}

100% {
    transform: translateX(1);
}
}
#return-home-btn {
    position: absolute;
    background-position: center;
    background-image: url(return.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid black;
    padding: 20px;
    cursor: pointer; 
    top: 10px;
    left: 10px;
    transition: background-color 0.3s;
}
#return-home-btn:hover {
    background-color: white;
}
.startArea {
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .container{
  width: 440px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}
.container h2{
  font-size: 25px;
  font-weight: 500;
  padding: 16px 25px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
 .startBtn {
   border: none;
   outline: none;
   color: #fff;
   cursor: pointer;
   margin: 15px;
   padding: 10px 0;
   font-size: 17px;
   border-radius: 5px;
   width: calc(100% / 2 - 8px);
   transition: all 0.5s ease;
   background: #3571AE;
 
 }
.startBtn:hover{
  background: #707d8b;
}
.container .content{
    margin: 25px 20px 35px;
}
  .content .word{
    user-select: none;
    font-size: 33px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 24px;
    margin-right: -24px;
    word-break: break-all;
    text-transform: uppercase;
  }
  .content .details{
    margin: 25px 0 20px;
  }
  .details p{
    font-size: 18px;
    margin-bottom: 10px;
  }
  .details p b{
    font-weight: 500;
  }
  .content input{
    width: 100%;
    height: 60px;
    outline: none;
    padding: 0 16px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
  }
  .content input:focus{
    box-shadow: 0px 2px 4px rgba(0,0,0,0.08);
  }
  .content input::placeholder{
    color: #aaa;
  }
  .content input:focus::placeholder{
    color: #bfbfbf;
  }
  .content .buttons{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
  }
  .buttons button{
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    padding: 15px 0;
    font-size: 17px;
    border-radius: 5px;
    width: calc(100% / 2 - 8px);
    transition: all 0.3s ease;
  }
  .buttons button:active{
    transform: scale(0.97);
  }
  .buttons .refresh-word{
    background: #6C757D;
  }
  .buttons .refresh-word:hover{
    background: #5f666d;
  }
  .buttons .check-word{
    background: #3571AE;
  }
  .buttons .check-word:hover{
    background: #3A7CBF;
  }
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  .modal-wrong {
    border: 2px solid red;
}
    
    .modal-correct {
      border: 2px solid green;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }
    
.close:hover,
.close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    
.score-area {
      padding-top: 15px;
      font-size: 18px;
      color: black;
    }
    
.score {
     color: #3571AE;
    }
    
@media screen and (max-width: 470px) {
      .container h2{
        font-size: 22px;
        padding: 13px 20px;
      }
      .content .word{
        font-size: 30px;
        letter-spacing: 20px;
        margin-right: -20px;
      }
      .container .content{
        margin: 20px 20px 30px;
      }
      .details p{
        font-size: 16px;
        margin-bottom: 8px;
      }
      .content input{
        height: 55px;
        font-size: 17px;
      }
      .buttons button{
        padding: 14px 0;
        font-size: 16px;
        width: calc(100% / 2 - 7px);
      }
    }